No of CPUs for {{ ansible_hostname }} is {{ ansible_processor_vcpus }}
Total memory on {{ ansible_hostname }} in mb is {{ ansible_memtotal_mb }}
current kernel on {{ ansible_hostname }}  is {{ ansible_kernel }}
